@charset "UTF-8";


caption{
font-size:33px;
margin-bottom:20px;
}

.food_cnt{
text-align:right;
background-color:#FFC681;
}

table{
margin:auto;
width:1500px;
}
table,td,th{
border-collapse:collapse;
border:1px solid black;}


#fd_menu{
font-size:16pt;
font-style:'sans-serif';
}

.food_paging{
display:flex;
justify-content:center;
padding:9px;
margin-bottom:10px;}

.food_info_select{
display:flex;
justify-content:center;
padding:8px;
margin-top:40px;
}



.food_info_select input[type=submit]{
width:40px;
margin-left:5px;
padding:5px;
background-color:darkorange;
border:0px;
color:white;
border-radius:15px;}

.food_select_choose{
margin-right:5px;
}

#Board_total_list{
position:absolute;
right:180px;
}
